/id_rsa
/*.sql


images/
var/cache*/
var/files/
var/backups/
var/custom_files/
var/snapshots/
local_conf.php

var/custom_files/sess_data/
var/upgrade/
var/layouts/
upgrades/
cert/
land/
mysql_logs/
old_store/
mariadb-slow.log
mail-logo.png
var/cp_em_*
var/log.txt
var/maib/

log.txt
logCount.txt
logCountinue.txt
pinta_feed.xml
pinta_feed_company_1.xml


*.DS_Store*
.well-known/
*.xls
*.XLS
*.xlsx
*pinta_*.xml

*.log
*.sql

*.zip
.well-known/
icns/
