.top-bar {
    position: fixed;
    z-index: @zindexFixedNavbar + 1; // z-index: 1031;
}

.top-bar--scroll-header {
    position: relative;
}

.top-bar__inner {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr minmax(auto, 580px) 1fr;
    gap: 8px;
    position: fixed;
    left: 0;
    width: 100%;
    height: var(--top-bar-height);
    padding-left: 16px;
    padding-right: 16px;
    z-index: @zindexFixedNavbar;
    background: #fff;
    box-shadow: 0 1px 1px @tableBorder;
}

.top-bar__inner--scroll-header {
    position: static;
}

.top-bar__inner--disabled {
    background: #fff8e9; // topPanelMenuBackgroundDisabled
}

@media (max-width: @TabletBreakpoint) {
    .top-bar__inner--one-column {
        grid-template-columns: 1fr;
    }
}

.top-bar__left,
.top-bar__right {
    display: flex;
    align-items: center;
    gap: 16px;
    height: 100%;
}

@media (max-width: @TabletBreakpoint) {
    .top-bar__left--mobile-hidden,
    .top-bar__right--mobile-hidden {
        display: none;
    }
}

.top-bar__right {
    justify-content: flex-end;
}

.top-bar__btn-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.top-bar__btn {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0;
    background: transparent;
    border: 0;
    line-height: @baseLineHeight;
    color: @mainColor;
}

.top-bar__btn-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 34px;
    min-height: 34px;
    position: relative;
    white-space: nowrap;
    border-radius: 99px;
}

.top-bar__btn:hover .top-bar__btn-inner {
    background: #f1f5fa; // background-global
}

.top-bar__btn-wrapper.btn-group.open > .dropdown-menu {
    top: 100%;
}
